<?xml version="1.0"?>

<configuration>
  <system.web>
    <authorization>
      <allow roles="Admin"/>
      <allow roles="Customer"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Customer.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
